@import '../../../../../node_modules/mathsass/dist/math';
// "node_modules/mathsass/dist/math";
//vars
$pi:3.14;
//config
$menu-items:4;
$open-distance:115px;

// this is calling the svg
%goo{
  filter:url('#shadowed-goo');
}

// this is the styling for the menu balls
%ball{
  background:#01294b;
  border-radius:100%;
  width: 6rem;
  height: 6rem;
  position:absolute;
  margin-top: 0rem;
  color:#F2D16B;
  text-align:center;
  line-height:90px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
}

// this is putting the menu in place where it sits on the nav bar and also makes it so at bigger sizes it wont shift over the normal nav links 
// using position absolute 
.ham-wrapper{
  margin-right: 1.5rem;
  position: absolute;
  display: flex;
  width: 100%;
}

// this fixed the svg which was going really far to the right causing a scroll bar at smaller sizes 
.svg-div{
  width: 0%;
}

// this is hiding your menu whan the size is to big and is changed in a media point below
.menu-open{
  display:none;
}

//this is making all the balls for the links
.menu-item{
  @extend %ball;
}

.svg-div{
  position: absolute;
}

// this is positioning the line in the hamburger 
.hamburger{
  width:2.2rem;
  height:.2rem;
  margin-left: 2rem;
  margin-top: 2.9rem;
  background:#F2D16B;
  display:block;
  position:absolute;
  transition:transform 200ms;
}

// this is the lines that turn into the X when clicked
$hamburger-spacing:10px;
.hamburger-1{
  transform:translate3d(0,-$hamburger-spacing,0);
}
.hamburger-2{
  transform:translate3d(0,0,0);
}
.hamburger-3{
  transform:translate3d(0,$hamburger-spacing,0);
}

.menu-open:checked+.menu-open-button{
  .hamburger-1{
    transform:translate3d(0,0,0) rotate(45deg); 
  }
  .hamburger-2{
    transform:translate3d(0,0,0) scale(0.1,1);
  }
  .hamburger-3{
    transform:translate3d(0,0,0) rotate(-45deg); 
  }
}

// getting the over all ham in place and hidden 
.menu{
  position: relative;
  margin-right: 1.5rem;
  justify-content: end;
  width: 100%;
  display: none;
  z-index: 3;
  @extend %goo;
  box-sizing:border-box;
  font-size:20px;
  text-align:left;
}

// when hover over a menu item it will change color
.menu-item:hover{
  background:#F2D16B;
  color:#01294b;
}

// makes a pointer and makes sure it goes over other content
.menu-open-button{
  @extend %ball;
  z-index:2;
  cursor:pointer;
}

//make the ham get bigger when hovered
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}

// this is controlling the way the nav bar deploys down
.menu-open:checked~.menu-item{
    @for $i from 1 through $menu-items{
      &:nth-child(#{$i+2}){
        transition-duration:90ms+(100ms*$i);
        //adjust the spacing of the balls
        transform:translate3d(0,120px*$i, 0px);
    }
  }
}


//triggering the change in nav bars
@media(max-width: 1000px){
  .menu{
    position: absolute;
    display: flex;
  }

    .ham-wrapper{
      margin-right: 1.5rem;
      position: relative;
  }  
}
  
