
.test-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.test-2{
    justify-content: space-evenly;
    margin-top: 5rem;
    display: flex;
    width: 50%;
}


.butt-red{
    background-color: red;
}

.butt-yellow{
    background-color: yellow;
}