.my-project-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.my-project-container{
    align-items: baseline;
    display: grid;
    gap: 2rem;
    width: 80%;
    height: 10%;
    margin: auto;
    color: #F2D16B;
}

.project-cards{
    z-index: 2;
    text-align: center;
    padding: .5rem;
    margin-bottom: 5rem;
    box-shadow: 3px 3px 30px rgb(160, 223, 252);
    border-radius: 4%;
}


.project-card-title{
    height: 1rem;
    padding-bottom: 2rem;
}

.project-card-body{
font-size: 16px;
}

.border-above-tech{
    padding-top: 1rem;
}

.icon-project{
  height: auto;
  width: 10rem;
  fill: white;
}

.project-card-footer{
  border-top-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  
}

.fab{
    fill: white;
    color: white;
    margin: 1rem;
    font-size: 45px;
    cursor: pointer;
}

.fab:hover{
    transform: scale(1.5);
}

@media(min-width: 60rem){
    .my-project-container{
        // background-color: red;
        grid-template-columns:repeat(4, 1fr);
        // grid-template-columns:repeat(1, 1fr) repeat(1, 2fr) repeat(1, 1fr);
    }
}


@media(max-width: 59.99rem){
    .my-project-container{
        // background-color: red;
        grid-template-columns:repeat(2, 1fr);
        // grid-template-columns:repeat(1, 1fr) repeat(1, 2fr) repeat(1, 1fr);
    }
}

@media(max-width: 44rem){
    .my-project-container{
        width: 60%;
        // background-color: red;
        grid-template-columns:repeat(1, 1fr);
        // grid-template-columns:repeat(1, 1fr) repeat(1, 2fr) repeat(1, 1fr);
    }
}
