.email-contact-wrapper{
  text-align: center;
  color: #F2D16B;
}

.contact-form{
  text-align: center;
  width: 100%;
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
  width: 63%;
  margin: auto;
  grid-template-columns:repeat(2, 1fr);
}

.label-contact{
  width: 5rem;
}

.input-contact{
  width: 10rem;
  background-color: rgb(248, 247, 247);
}

.button-contact-submit-wrapper{

}


.button-contact-submit{
  position:absolute;
  width: 10rem;
  margin-left: 1.5rem;
  // margin-left: 4rem;
}