canvas {
    display: block;
    vertical-align: top;
  }

  #tsparticles {
    width: 100%;
  }
  
//   #bounce1 {
//     text-align: center;
//     position: fixed;
//     width: 300px;
//     height: 150px;
//     z-index: 2000;
//     left: 50%;
//     top: 75%;
//     margin-left: -150px;
//     margin-top: -75px;
//     color: white;
//     border: 1px solid white;
//   }

  
//   #bounce2 {
//     text-align: center;
//     position: fixed;
//     width: 150px;
//     height: 150px;
//     z-index: 2000;
//     left: 75%;
//     top: 33.3%;
//     margin-left: -75px;
//     margin-top: -75px;
//     border-radius: 150px;
//     color: white;
//     border: 1px solid white;
//   }
  
//   #bounce2 h1 {
//     padding-top: 48px;
//   }
  
//   #bounce3 {
//     text-align: center;
//     position: fixed;
//     width: 150px;
//     height: 150px;
//     z-index: 2000;
//     left: 25%;
//     top: 33.3%;
//     margin-left: -75px;
//     margin-top: -75px;
//     border-radius: 150px;
//     color: white;
//     border: 1px solid white;
//   }
  