@font-face {
    font-family: 'Tentacles';
    src:url('../../../assets/Fonts/Tentacles.ttf.woff') format('woff'),
        url('../../../assets/Fonts/Tentacles.ttf.svg') format('svg'); 
        font-weight: normal;
        font-style: normal;
}

.name-test{
    text-align: center;
    color: rgb(21, 147, 197);
    // color:#F2D16B;
    // color: rgb(21, 147, 197);
    // color: rgb(21, 147, 197);
    font-size: 5rem;
    font-family: 'Tentacles';
    font-weight:lighter;
}

.hero-cont{
    margin-top: 2.5rem;
    margin-bottom: 2.56rem;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.hero{
    width: 60%;
    height: auto;
    text-align: center;
    font-size: 3rem
}

.hero-text{
    // font-family: 'Tentacles';
    font-weight: lighter;
    color: #F2D16B;
}

.home-card-cont{
    display: grid;
    gap: 2rem;
    width: 80%;
    margin: auto;
    color: #F2D16B;
}

.home-cards{
    text-align: center;
    padding: .5rem;
    background-color: #01678f;
    margin-bottom: 7rem;
    box-shadow: 10px 10px 20px rgb(160, 223, 252);
    border-radius: 4%;
}


@media(min-width: 60rem){
    .home-card-cont{
        // background-color: red;
        grid-template-columns:repeat(4, 1fr);
        // grid-template-columns:repeat(1, 1fr) repeat(1, 2fr) repeat(1, 1fr);
    }
}

@media(max-width: 59.99rem){
    .home-card-cont{
        // background-color: red;
        grid-template-columns:repeat(2, 1fr);
        // grid-template-columns:repeat(1, 1fr) repeat(1, 2fr) repeat(1, 1fr);
    }
}

@media(max-width: 44rem){
    .home-card-cont{
        width: 60%;
        // background-color: red;
        grid-template-columns:repeat(1, 1fr);
        // grid-template-columns:repeat(1, 1fr) repeat(1, 2fr) repeat(1, 1fr);
    }

    .icon{
        width: 15rem;
    }
}







