@font-face {
    font-family: 'Tentacles';
    src:url('../../../assets/Fonts/Tentacles.ttf.woff') format('woff'),
        url('../../../assets/Fonts/Tentacles.ttf.svg') format('svg'); 
        font-weight: normal;
        font-style: normal;
}

.name-test{
    text-align: center;
    color: rgb(21, 147, 197);
    // color:#F2D16B;
    // color: rgb(21, 147, 197);
    // color: rgb(21, 147, 197);
    font-size: 5rem;
    font-family: 'Tentacles';
    font-weight:lighter;
}







