@font-face {
  font-family: 'Tentacles';
  src: url("../../../assets/Fonts/Tentacles.ttf.woff") format("woff"), url("../../../assets/Fonts/Tentacles.ttf.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.name-test {
  text-align: center;
  color: #1593c5;
  font-size: 5rem;
  font-family: 'Tentacles';
  font-weight: lighter;
}

.hero-cont {
  z-index: 2;
  margin-top: 2.5rem;
  margin-bottom: 2.56rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  z-index: 2;
  width: 60%;
  height: auto;
  text-align: center;
  font-size: calc(30px + .2vw);
}

.hero-text {
  z-index: 2;
  font-weight: lighter;
  color: #F2D16B;
}

.home-card-cont {
  z-index: 2;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  width: 80%;
  margin: auto;
  color: #F2D16B;
}

.home-cards {
  z-index: 2;
  text-align: center;
  padding: .5rem;
  background-color: #01678f;
  margin-bottom: 7rem;
  -webkit-box-shadow: 10px 10px 20px #a0dffc;
          box-shadow: 10px 10px 20px #a0dffc;
  border-radius: 4%;
}

.skills-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-columns: (minmax(5rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 4rem;
  width: 80%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-title-tech {
  z-index: 2;
  height: auto;
  width: 100%;
  background-image: radial-gradient(#002d3f, #00080f);
  padding: 1.5rem;
  -webkit-box-shadow: 0px 0px 15px 10px Rgb(160, 223, 252);
          box-shadow: 0px 0px 15px 10px Rgb(160, 223, 252);
  border-radius: 20px;
  text-decoration: underline;
  -webkit-text-decoration-color: #F2D16B;
          text-decoration-color: #F2D16B;
  fill: white;
  color: white;
  text-align: center;
  margin-bottom: 5rem;
}

.skills-title-tech h1 {
  z-index: 2;
  color: #F2D16B;
  min-width: 9.8rem;
}

.skills-title-learn {
  z-index: 2;
  height: 10%;
  width: 100%;
  background-image: radial-gradient(#002d3f, #00080f);
  padding: 1.5rem;
  -webkit-box-shadow: 0px 0px 15px 10px Rgb(160, 223, 252);
          box-shadow: 0px 0px 15px 10px Rgb(160, 223, 252);
  border-radius: 20px;
  text-decoration: underline;
  -webkit-text-decoration-color: #F2D16B;
          text-decoration-color: #F2D16B;
  fill: white;
  color: white;
  text-align: center;
  margin-bottom: 5rem;
}

.skills-title-learn h1 {
  color: #F2D16B;
  min-width: 9.8rem;
}

.tech-skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(6rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: 2rem;
  width: 100%;
  height: auto;
}

.skills-home-icon {
  width: 100%;
  height: 8rem;
}

.leaning-skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(6rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: 2rem;
  width: 100%;
  height: auto;
}

@media (min-width: 60rem) {
  .home-card-cont {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 59.99rem) {
  .home-card-cont {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 44rem) {
  .home-card-cont {
    width: 60%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .icon {
    width: 15rem;
  }
}

.bubble {
  margin-left: 0rem;
  bottom: 0;
  width: 100%;
  position: fixed;
  background-image: radial-gradient(#026288, #52606d);
  border-radius: 55%;
}

.bubble-sm {
  height: 5rem;
  width: 5rem;
  left: 25%;
  -webkit-animation: bubbles-rise 3s infinite;
          animation: bubbles-rise 3s infinite;
}

.bubble-sm1 {
  height: 5rem;
  width: 5rem;
  left: 35%;
  -webkit-animation: bubbles-rise 2.2s infinite;
          animation: bubbles-rise 2.2s infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.bubble-sm2 {
  height: 8rem;
  width: 8rem;
  left: 55%;
  -webkit-animation: bubbles-rise 2.5s infinite;
          animation: bubbles-rise 2.5s infinite;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.bubble-sm3 {
  height: 6rem;
  width: 6rem;
  left: 50%;
  -webkit-animation: bubbles-rise 1.75s infinite;
          animation: bubbles-rise 1.75s infinite;
}

.bubble-sm4 {
  height: 5rem;
  width: 5rem;
  left: 65%;
  -webkit-animation: bubbles-rise 2.5s infinite;
          animation: bubbles-rise 2.5s infinite;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.bubble-sm5 {
  height: 7rem;
  width: 7rem;
  left: 45%;
  -webkit-animation: bubbles-rise 2s infinite;
          animation: bubbles-rise 2s infinite;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.bubble-sm6 {
  height: 5rem;
  width: 5rem;
  left: 40%;
  -webkit-animation: bubbles-rise 3s infinite;
          animation: bubbles-rise 3s infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bubble-md {
  height: 10rem;
  width: 10rem;
  left: 15%;
  -webkit-animation: bubbles-rise 3.5s infinite;
          animation: bubbles-rise 3.5s infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bubble-md1 {
  height: 10rem;
  width: 10rem;
  left: 60%;
  -webkit-animation: bubbles-rise 2s infinite;
          animation: bubbles-rise 2s infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes bubbles-rise {
  100% {
    -webkit-transform: translateY(-200px) scale(0.5);
            transform: translateY(-200px) scale(0.5);
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@keyframes bubbles-rise {
  100% {
    -webkit-transform: translateY(-200px) scale(0.5);
            transform: translateY(-200px) scale(0.5);
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
/*# sourceMappingURL=Home.css.map */